APP_TITLE=Radio Pronto!
APP_USER_AGENT=Radio Pronto/1.0 (radiopronto.net)
RB_API_BASE_URL=http://de1.api.radio-browser.info
NUM_OF_RADIOS_PER_PAGE=21
NUM_OF_COUNTRIES_PER_PAGE=30
NUM_OF_GENRES_PER_PAGE=30