.icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 32px;
  height: 30px;
}
.bar {
  width: 20px;
  height: 100%;
  background-color: #e6e953;
  border-radius: 3px 3px 0 0;
  transform-origin: bottom;
  animation: bounce 1.3s ease infinite alternate;
  content: "";

  &:nth-of-type(1) {
    animation-delay: -1.2s;
  }
  &:nth-of-type(2) {
    animation-delay: -2.2s;
  }

  &:nth-of-type(3) {
    animation-delay: -3.7s;
  }
  &:nth-of-type(4) {
    animation-delay: -0.8s;
  }
}
@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.custom-range::-webkit-slider-thumb {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-range:hover::-webkit-slider-thumb {
  opacity: 1;
}

/* Arka planın doluluk seviyesine göre renk değişimi */
.custom-range {
  height: 0.5rem;

  cursor: pointer;
}

.custom-range::-webkit-slider-thumb {
  /* display: none; */
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}
