@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background-image: url("/assets/search_bar_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  